<header>
<%- include('./partials/header') %> 
</header>
  <main>
    <div class="ui segment">
      <h1>DATA</h1>
      <p>ESSA ROTA É DO DAtA</p>
    </div>
  </main>

<footer>
<%- include('./partials/footer') %> 

</body>
</html>