<%- include('./partials/header') %> 
  <main>
    <div class="ui segment">
      <h1>INDEX</h1>
      <p>Essa rota é do INDEX.</p>
    </div>
  </main>
<%- include('./partials/footer') %> 
</body>
</html>
