<%- include('./partials/header') %> 
  <main>
    <div class="ui segment">
      <h1><%= title %></h1>
      <p>Esta é a página de notícias.</p>
    </div>
  </main>
<%- include('./partials/footer') %> 
</body>
</html>
