<%- include('./partials/header') %>  <!-- Insere o conteúdo de header.ejs (Linha 1) [8] -->
  <main>
    <div class="ui segment">
      <h1>USER</h1>
      <p>ESSA ROTA É DO USER</p>
    </div>
  </main>
<%- include('./partials/footer') %>  <!-- Insere o conteúdo de footer.ejs (Linha 8) [8] -->
</body>
</html>