<footer>
  <div class="ui inverted segment" style="background-color: #222;">
    <div class="ui container">
      <div class="ui stackable grid">
        <div class="column">
          <h4 class="ui inverted header">Topcoder 2021</h4>
          <p>All Rights Reserved</p>
        </div>
        <div class="column">
          <h4 class="ui inverted header">Follow Us</h4>
          <div class="ui social media icons">
            <a href="#" class="ui inverted facebook icon button">
              <i class="facebook f icon"></i>
            </a>
            <a href="#" class="ui inverted twitter icon button">
              <i class="twitter icon"></i>
            </a>
            <a href="#" class="ui inverted instagram icon button">
              <i class="instagram icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
