<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Random Title</title>
   <!-- Links de CSS aqui -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body class="ui container">
<header>
  <nav class="ui menu" style="background-color: #333; border-radius: 5px;">
    <a class="item" href="/">
      <h3 style="color: #fff;">MyWebsite</h3>
    </a>
    <a class="item" href="/about">
      <i class="info circle icon"></i> About
    </a>
    <a class="item" href="/users">
      <i class="users icon"></i> Users
    </a>
    <a class="item" href="/data">
      <i class="database icon"></i> Data
    </a>
  </nav>
</header>
